* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(53, 93, 224);
    padding-top: 1rem;
}


section {
    padding: 40px 0;
}

footer {
    background-color: black;
}

ul {
    display: flex;
    column-gap: 1rem;
    list-style: none;
    column-gap: 1rem;
}

button {}

h1 {
    font-size: 3rem;
    color: aliceblue;
    padding-bottom: 20px;
}

h5 {
    color: blue;
}

h6 {
    color: blue;
}

a {
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;
}

.container {
    display: flex;
    width: 920px;
    margin: 0 auto;
}

.container-section1 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1-section2 {
    display: flex;
    width: 70%;
    background-image: url(../img/item1.svg);
    background-size: cover;
}


.container2-section2 {
    display: flex;
    width: 30%;

}


.container1-section3 {
    display: flex;
    width: 70%;
    background-image: url(../img/item2.svg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2-section3 {
    display: flex;
    width: 30%;
    padding-right: 20px;

}


.container1-section4 {
    display: flex;
    width: 70%;
    background-image: url(../img/item3.svg);
    background-size: cover;

}

.container2-section4 {
    display: flex;
    width: 30%;
}

.container1-section5 {
    display: flex;
    background-image: url(../img/item4-big.svg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

.container2-section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

.logo-container {
    display: flex;
    background-color: rgb(53, 93, 224);
    padding: 10px;
}

.link-container {
    display: flex;
    justify-content: center;
    flex-grow: 3;
}

.logo {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.login {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.row {
    height: 400px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.row2 {
    height: 500px;
}

.row-footer {
    height: 50px;
    background-color: rgb(36, 39, 42);
    border-top: 1px solid rgb(77, 88, 127);
}


.logo-button {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 10px 0;
    color: pink;
}


.background-blue {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-grey {
    background-color: lightgrey;
}

.header-text {
    color: aliceblue;
    padding-bottom: 20px;
}

.text-section5 {
    display: flex;
    background-image: url(../img/item4-big.svg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

.background-black {
    background-color: rgb(36, 39, 42);
}

.container1-section6 {
    display: flex;
    flex-direction: row;
    flex-grow: 2;

}

.container2-section6 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.btn-small {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    color: #232A2A;
    text-decoration: none;
    line-height: 1.2;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 0.8rem;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 8px 6px;
    border: 0px solid #006FE6;
    cursor: pointer;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    color: #232A2A;
    text-decoration: none;
    line-height: 1.2;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 1rem;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 10px 18px;
    border: 0px solid #006FE6;
    cursor: pointer;
    margin-right: 15px;
}

.btn-white {
    color: #232A2A;
    background-color: #FFFFFF;

}

.btn-black {
    color: aliceblue;
    background-color: #232A2A;;
}

.btn-blue {
    color: aliceblue;
    background-color: rgb(146, 160, 220);
}